C:\Users\jayde\Desktop\Project Files\Python\Projects\covid\.ipynb_checkpoints
C:\Users\jayde\Desktop\Project Files\Python\Projects\covid\Selenium.ipynb
C:\Users\jayde\Desktop\Project Files\Python\Projects\covid\ghostdriver.txt